
$main-color: #8a2b06;
$button-color: #4d1601;
$white : hsl(0, 0%, 100%); 
$header-font: 'Ubuntu', sans-serif;
$second-font: 'Nunito', sans-serif;

@mixin flex-set{
    display:flex; 
    justify-content: center;
    align-items: center;
}


.cart-container{
    width:50%; 
    background-color: $white;
    border-radius: 15px; 
    box-sizing: border-box;
    padding:2vh; 
    overflow-y: scroll;
    max-height: 400px;
    z-index: 5;

    .cart-element{
        width:100%; 
        height:120px;
        border-bottom: 2px solid $main-color;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .food-info{
            min-width:25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: $second-font;

            .food-price{
                color: rgb(191, 147, 2);
                font-weight: bold;
            }
        }

        .counter {
            width: 10%; 
            height: 30px;
            border-radius: 5px;
            background-color: $white;
            border: 1px solid $main-color; 
            @include flex-set; 
            font-weight: bold;
            font-family: $second-font;
        }

        .buttons{
            width:25%; 
            display: flex;
            justify-content: flex-end;


            .cart-counter-button{
                width:25%; 
                height: 30px;
                border-radius: 5px;
                background-color: $white;
                border: 1px solid $main-color; 
                margin: .1em;
                color:$main-color;
            }
        }
    }

    .cart-summary{
        width:100%; 
        height:120px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2{
            font-family: $second-font;
        }
    }

    .cart-handling-buttons{
        width:100%; 
        display: flex;
        justify-content: flex-end;

        .close-button{
            width:17%;
            height:35px;
            font-size: 1rem;
            border: 1px solid $main-color;
            background-color: $white;
            color:$main-color;
        }

        .close-button:hover{
            background-color: $button-color;
            color:$white; 
            transition: linear .3s;
        }

        .order-button{
            width:17%;
            height:35px;
            margin-left:.5em;
            font-size: 1rem;
        }

        .order-button:hover{
            background-color: $white;
            color:$button-color; 
            transition:linear .3s;
            border: 1px solid $main-color; 
            color:$main-color;
        }
    }
}

