$main-color: #8a2b06;
$button-color: #4d1601;
$font-color: hsl(0,0%,100%);
$header-font: 'Ubuntu', sans-serif;
$second-font: 'Nunito', sans-serif;

@mixin flex-set{
    display:flex; 
    align-items: center;
    justify-content: center;
}
    

header {
    width:100%; 
    height: 90px; 
    background-color: $main-color;
    box-sizing: border-box;
    padding: 2vh 20vh;
    @include flex-set; 
    justify-content: space-between;
    position: fixed;
    z-index: 1;

    h1 {
        margin: 0;
        font-family: $header-font;
        color: $font-color;
    }
}

button{
    width:10%; 
    height: 60px; 
    background-color:$button-color;
    box-sizing: border-box;
    padding: 1vh;
    border-radius: 50px;
    border: none;
    @include flex-set; 
    justify-content: space-around;
    font-size: 1.2rem;
    font-family: $second-font;
    color: $font-color; 
    cursor:pointer;  

    svg{
        width:30px; 
        height:30px;
    }

    .cart-counter{
        width:45px; 
        height:30px;
        background-color: $main-color;
        border-radius: 25px;
        @include flex-set; 
    }
}

.bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
