$background-color: hsl(0, 0%, 26%);
$white: hsl(0,0%,100%); 
$header-font: 'Ubuntu', sans-serif;
$second-font: 'Nunito', sans-serif;

main {
    display: flex;
    justify-content: center;

    .intro-container{
        width:40%; 
        background-color:$background-color;
        box-sizing: border-box;
        padding: 2vh;
        position:absolute;
        top: 300px;
        -webkit-box-shadow: 1px 3px 29px 5px rgbargb(32, 32, 32);
        -moz-box-shadow: 1px 3px 29px 5px rgbargb(32, 32, 32);
        box-shadow: 1px 3px 29px 5px rgb(32, 32, 32);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        color:$white;
        font-family: $second-font; 
        text-align: center;

        p {
            margin: .5em auto;
        }
    }

    .food-list{
        list-style: none;
        width:60%; 
        position:absolute;
        top:600px;
        padding: 0; 

        .food-card{
            width:100%; 
            height:120px;
            background-color:$white;
            box-sizing: border-box;
            padding:2vh; 
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid hsla(0, 0%, 26%, 0.155); 

            .food-info{
              width:20%; 
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: left;

              .food-name{
                font-size: 1.2rem;
                margin:.2em;
                font-family: $second-font;
                font-weight: 600;
              }

              .food-description{
                font-style: italic;
                font-size: .9rem;
                margin: .2em;
                font-family: $second-font;
              }

              .food-price{
                font-size: 1.2rem;
                margin:.2em;
                font-family: $second-font;
                color: rgb(191, 147, 2); 
                font-weight: 600;
              }
            }


            .food-add{
              width: 20%; 
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: flex-end;

              .amount-input{
                display: flex;
                justify-content: flex-end;
                width:100%; 
                box-sizing: border-box;

                input {
                    width:20px;
                    margin-left:1em;
                }

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

                input[type=number] {
                  -moz-appearance: textfield;
                }

                label{
                    font-family: $second-font;
                    font-weight: 600;
                }
              }

              button{
                width:80%;
                height:40px; 
                font-size: 1rem;
              }
            }
        }
    }
}

.card-round-top{
    border-radius: 15px 15px 0 0;
  }

.card-round-bottom{
    border-radius: 0 0 15px 15px;
  }

