$background-color: hsl(0, 0%, 26%);

@mixin flex-set{
    display:flex; 
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    background-color: $background-color;
    overflow-x: hidden;

    .image-box {
        position:relative;
        width:100%; 

        .meals-img{
            width:100%; 
            position: absolute;
            top:-30px;
        }
    
        .img-crop{
            width:300%; 
            height: 1000px;
            position: absolute;
            left: -100px;
            top:300px;
            transform: rotate(-7deg);
            background-color:$background-color;  
            
        }
    }

    .overlay{
        width:100%;
        height: 100%; 
        background-color: rgba(0, 0, 0, 0.749);
        position:fixed;
        z-index: 3;
        @include flex-set; 
    }

    .hidden {
        display: none;
    }
}